<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container">
  <h4>All links posted by</h4>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p>Total links: <%= @links.length %> Total votes: <%= @links.sum("score")%></p>
</div>

<%= render '/links/links' %>

<div class="container">
  <h4>All links voted on by</h4>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p>Total votes: <%= @votes.length %> Sum of votes: <%= @votes.sum("value")%></p>
</div>

<%= render 'votes' %>


<div class="container text-center">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
<br>
