<p id="notice"><%= notice %></p>

<div class="container hometitle text-right">
  <h1><em>Breaddit</em></h1>
  <h5><small>show us your slice</small></h5>
</div>

<div class="container">
<%= paginate @links %>
</div>

<div class="container fullpost">
<% @links.each do |link| %>
  <div class="row linkmain">
    <div class="col-sm-2 tnail">
      <%= image_tag link.thumbnail, class: "pull-right img-rounded"%>
    </div>
    <div class="col-sm-1 vote">
      <div class="row votesys">
        <div class="col-sm-12">
        <%= button_to upvote_path(link), method: :get, class: 'active btn btn-default btn-xs center-block' do%>
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <% end %>
        </div>
        <div class="col-sm-12 text-center">
        <%= link.votes %></div>
        <div class="col-sm-12">
          <%= button_to downvote_path(link), method: :get, class: 'active btn btn-default btn-xs center-block' do%>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 linkinfo">
      <div class="row">
        <div class="col-sm-12">
          <h4><%= link_to link.title, linkvote_path(link) %></h4>
        </div>
        <div class="col-sm-5">
          <div class="col-sm-12 text-right">
            <h5><%= link_to link.user.username, user_path(link.user) %><small> @ <%= link.created_at.strftime("%b %e, %l:%M %p")%></small></h5>
          </div>
          <div class="col-sm-12 buttondiv text-right">
            <div class="btn-group">
              <%= button_to "Edit", edit_link_path(link), method: :get, class: 'btn btn-primary btn-xs'%>
            </div>
            <div class="btn-group">
              <%= button_to "Delete", link_path(link), method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-danger btn-xs'%>
            </div>
            <div class="btn-group">
              <%= button_to "Go to subreddit", subreddit_path(link.subreddit), method: :get, class: 'btn btn-info btn-xs'%>
            </div>
          </div>
        </div>
        <div class="col-sm-7 summary">
          <h5><%= link.summary %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>


<div class="container">
<%= paginate @links %>
</div>
<br>
