<h4 id="notice"><%= notice %></h4>

<div class="container hometitle text-left">
  <h3><em>Your search for "<%=params[:search]%>" rendered:</em></h3>
  <h4><strong><%= @links.length%> results</strong></h4>
</div>

<%= render 'links' %>

<div class="container">
<%= paginate @links %>
</div>
<br>
