<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container text-center">
<h1><strong><%= @subreddit.name%></strong><br><small>Total Links:<%= @subreddit.links.length %></small></h1>
</div>


<%= render '/links/links' %>

<div class="container text-center">
<%= link_to 'Edit', edit_subreddit_path(@subreddit) %> |
<%= link_to 'List', subreddits_path %>
</div>
<br>
