<!DOCTYPE html>
<html>
<head>
  <title>Breaddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand active" href=<%= root_path %>>
        <%= image_tag "brand.png", id:"brand" %>Breaddit
        </a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href=<%= new_link_path %>>New Link</a></li>
            <li><a href=<%= new_user_path %>>New User</a></li>
            <li><a href=<%= new_subreddit_path %>>New Subreddit</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href=<%= users_path %>>User List</a></li>
                <li><a href=<%= subreddits_path %>>Subreddit List</a></li>
              </ul>
            </li>
          </ul>
          <form action="/search/" class="navbar-form navbar-right" method="get">
           <div class="form-group">
             <input type="text" name="search" class="form-control" placeholder="Search">
           </div>
           <button type="submit" class="btn btn-secondary">Submit</button>
         </form>
       </div>
    </div>
</nav>
<body>



<%= yield %>

</body>
</html>
